<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugar | WORDLE ODS Version</title>
  <link rel="stylesheet" href="static/css/cuadro.css">
</head>
<body>

<div class="game-container">
    <div class="title-container">
        <h1>WORDLE</h1>
        <p>ODS Version</p>
        <!-- <input type="text" name="userInput" id="userInput" pattern="[a-z]{5}" maxlength="5"> -->
        <!-- <button onclick="addTo()" value="add">submit</button> -->
    </div>
    <div class="msg-container"></div>
    
    <div class="tile-container"></div>

    <div class="key-container"></div>
</div>

<div class="Boton">
  <button onclick="location.href= 'https://G06-TPI-1cuatr.agustina-belen2.repl.co' " id="inicio">INICIO</button>
</div>

<div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >

<script src="bird.js"></script>    
</body>
</html>
<!-- partial -->
  <script  src="static/js/script.js"></script>

</body>
</html>
