<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Maquetacion HTML Proyecto</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'><link rel="stylesheet" href="static/css/style.css">
</head>
<body>



<div class="area" >
  <div id="botones">
  <h1>WORDLE</h1>
  <h3>ODS Version</h3> 
  <h4>Ingresa tu nombre:</h4>
  <label for="nombre" id="campos"></label>
  <input type="text" class="campos" id="campos" placeholder="Nombre">
  <button onclick="location.href= 'https://G06-TPI-1cuatr.agustina-belen2.repl.co/cuadro' " id="jugar">JUGAR</button>
  <button onclick="location.href= 'https://G06-TPI-1cuatr.agustina-belen2.repl.co/reglas' " id="reglas">REGLAS</button> 
</div>


<div id="intentos">
  <h4>Cantidad de Intentos: 6</h4>
</div>

<div id="tiempo">
  <h4>Tiempo: 00:05:00 minutos</h4>
</div>
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >

  <script  src="static/js/script.js"></script>
</body>
</html>