<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Maquetacion HTML Proyecto</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'><link rel="stylesheet" href="static/css/style.css">
</head>
  
<body>
<form action="{{ url_for('proyecto') }}" id="proyecto">
  <button id="quienessomos"> ?</button>
</form>
  
<div class="area" >
  <div id="botones">
  <h1>WORDLE</h1>
  <h3>ODS Version</h3> 
  <form action="{{ url_for('cuadro') }}" method="post">
    <h4>Ingresa tu nombre:</h4>   
    <input type="text" class="campos" name="nombre" id="campos" placeholder="Nombre"         required>
    <button id="jugar" type="submit"  onclick="mandarAjax()">JUGAR</button>
  </form>
  
 <form action="{{ url_for('reglas') }}"> 
    <button type="submit" id="reglas">REGLAS</button>
 </form>



  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul></div>
  <div id="intentos">
    <h4>Cantidad de Intentos: 6</h4>
  </div>


<div id="tiempo">
  <h4>Tiempo: 00:05:00 minutos</h4>
</div>
</div >


  <script  src="static/js/script.js"></script>
</body>
</html>