<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>¿Quienes Somos?</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'><link rel="stylesheet" href="static/css/proyecto.css">
</head>
<body>
    
    <div class="area" >
        <div class="Titulo">
            <h2>Wordle</h2>
            <h3>¿Quienes Somos?</h3>
        </div>
    
        <div class="Boton">
            <input class="boton" type="button" value="INICIO" name="inicio" id="inicio" onclick="location.href= 'https://G06-TPI-1cuatr.agustina-belen2.repl.co'">
        </div>
        
        <div class="Descripcion">
            <p>Somos un grupo de estudiantes del colegio Pio IX que está trabajando la temática de la Agenda 2030 y sus Objetivos de Desarrollo Sostenible. Especificamente en este juego, nos vamos a centrar en el ODS Nº13: Acción por el Clima y por cada vez que adivines la palabra en el Wordle, te va a aparecer un dato curioso de la misma y relacionada al tema. Con el fin de divulgar y hacer visible esta problemática, esperamos que disfrutes el juego!</p>
        </div>

        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
</body>
</html>